body, html {
    height: 100%;
    -webkit-tap-highlight-color: transparent
}

body {
    font-family: -apple-system-font, Helvetica Neue, Helvetica, sans-serif
}
.container ::-webkit-scrollbar {display: none;}

ul {
    list-style: none
}

.page, body {
    background-color: #f8f8f8;
    /*padding: 5px;*/
}

.link {
    color: #1aad19
}

.container {
    overflow: hidden
}

.container, .page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.page {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    opacity: 0;
    z-index: 1
}

.page.js_show {
    opacity: 1
}

.page__hd {
    padding: 40px
}

.page__bd_spacing {
    padding: 15px 15px 0
}

.page__ft {
    padding-top: 40px;
    padding-bottom: 10px;
    text-align: center
}

.page__ft img {
    height: 19px
}

.page__ft.j_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
}

.page__title {
    text-align: left;
    font-size: 20px;
    font-weight: 400
}

.page__desc {
    margin-top: 5px;
    color: #888;
    text-align: left;
    font-size: 14px
}

.page.home .page__intro-icon {
    margin-top: -.2em;
    margin-left: 5px;
    width: 16px;
    height: 16px;
    vertical-align: middle
}

.page.home .page__title {
    font-size: 0;
    margin-bottom: 15px
}

.page.home .page__bd img {
    width: 30px;
    height: 30px
}

.page.home .page__bd li {
    margin: 10px 0;
    background-color: #fff;
    overflow: hidden;
    border-radius: 2px;
    /*cursor: pointer*/
}

.page.home .page__bd li.js_show .weui-flex {
    opacity: .4
}

.page.home .page__bd li.js_show .page__category {
    height: auto
}

.page.home .page__bd li.js_show .page__category-content {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.page.home .page__bd li:first-child {
    margin-top: 0
}

.page.home .page__category {
    height: 0;
    overflow: hidden
}

.page.home .page__category-content {
    opacity: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: .3s;
    transition: .3s
}

.page.home .weui-flex {
    padding: 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-transition: .3s;
    transition: .3s;
}

.page.home .category_title {
    padding: 15px;
    border-bottom: 1px solid hsla(0, 0%, 80%, .5);
}

.page.home .weui-cells {
    margin-top: 0
}

.page.home .weui-cells:after, .page.home .weui-cells:before {
    display: none
}

.page.home .weui-cell {
    padding-left: 20px;
    padding-right: 20px
}

.page.home .weui-cell:before {
    left: 20px;
    right: 20px
}

.page.button .page__bd {
    padding: 0 15px
}

.page.button .button-sp-area {
    margin: 0 auto;
    padding: 15px 0;
    width: 60%
}

.page.cell .page__bd, .page.form .page__bd {
    padding-bottom: 30px
}

.page.actionsheet, .page.dialog {
    background-color: #fff
}

.page.dialog .page__bd {
    padding: 0 15px
}

.page.msg, .page.msg_success, .page.msg_warn, .page.toast {
    background-color: #fff
}

.page.panel .page__bd {
    padding-bottom: 20px
}

.page.article {
    background-color: #fff
}

.page.icons {
    text-align: center
}

.page.icons .page__bd {
    padding: 0 40px;
    text-align: left
}

.page.icons .icon-box {
    margin-bottom: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.page.icons .icon-box i {
    margin-right: 18px
}

.page.icons .icon-box__ctn {
    -webkit-flex-shrink: 100;
    flex-shrink: 100
}

.page.icons .icon-box__title {
    font-weight: 400
}

.page.icons .icon-box__desc {
    margin-top: 6px;
    font-size: 12px;
    color: #888
}

.page.icons .icon_sp_area {
    margin-top: 10px;
    text-align: left
}

.page.icons .icon_sp_area i:before {
    margin-bottom: 5px
}

.page.flex .placeholder {
    margin: 5px;
    padding: 0 10px;
    background-color: #ebebeb;
    height: 2.3em;
    line-height: 2.3em;
    text-align: center;
    color: #cfcfcf
}

.page.loadmore {
    background-color: #fff
}

.page.layers {
    overflow-x: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px
}

@media only screen and (max-width: 320px) {
    .page.layers .page__hd {
        padding-left: 20px;
        padding-right: 20px
    }
}

.page.layers .page__bd {
    position: relative
}

.page.layers .page__desc {
    min-height: 4.8em
}

.page.layers .layers__layer {
    position: absolute;
    left: 50%;
    width: 150px;
    height: 266px;
    margin-left: -75px;
    box-sizing: border-box;
    -webkit-transition: .5s;
    transition: .5s;
    background: url(images/layers/transparent.gif) no-repeat 50%;
    background-size: contain;
    font-size: 14px;
    color: #fff
}

.page.layers .layers__layer span {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    text-align: center;
    -webkit-transition: .5s;
    transition: .5s
}

.page.layers .layers__layer:last-child span {
    color: #aaa
}

.page.layers .layers__layer.j_hide {
    opacity: 0
}

.page.layers .layers__layer.j_pic span {
    color: transparent
}

@media only screen and (min-width: 375px) and (min-height: 603px) {
    .page.layers .layers__layer {
        width: 180px;
        height: 320px;
        margin-left: -90px
    }
}

@media only screen and (min-width: 414px) and (min-height: 640px) {
    .page.layers .layers__layer {
        width: 200px;
        height: 355px;
        margin-left: -100px
    }
}

.page.layers .layers__layer_popout {
    border: 1px solid hsla(0, 0%, 80%, .5);
    z-index: 4
}

.page.layers .layers__layer_popout.j_transform {
    -webkit-transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(120px);
    transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(120px)
}

@media only screen and (max-width: 320px) {
    .page.layers .layers__layer_popout.j_transform {
        -webkit-transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(140px);
        transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(140px)
    }
}

.page.layers .layers__layer_popout.j_pic {
    border-color: transparent;
    background-image: url(images/layers/popout.png)
}

.page.layers .layers__layer_mask {
    background-color: rgba(0, 0, 0, .5);
    z-index: 3
}

.page.layers .layers__layer_mask.j_transform {
    -webkit-transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(40px);
    transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(40px)
}

@media only screen and (max-width: 320px) {
    .page.layers .layers__layer_mask.j_transform {
        -webkit-transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(80px);
        transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(80px)
    }
}

.page.layers .layers__layer_navigation {
    background-color: rgba(40, 187, 102, .5);
    z-index: 2
}

.page.layers .layers__layer_navigation.j_transform {
    -webkit-transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(-40px);
    transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(-40px)
}

@media only screen and (max-width: 320px) {
    .page.layers .layers__layer_navigation.j_transform {
        -webkit-transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(20px);
        transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(20px)
    }
}

.page.layers .layers__layer_navigation.j_pic {
    background-color: transparent;
    background-image: url(images/layers/navigation.png)
}

.page.layers .layers__layer_content {
    background-color: #fff;
    z-index: 1
}

.page.layers .layers__layer_content.j_transform {
    -webkit-transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(-120px);
    transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(-120px)
}

@media only screen and (max-width: 320px) {
    .page.layers .layers__layer_content.j_transform {
        -webkit-transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(-40px);
        transform: translateX(15px) rotateX(45deg) rotate(10deg) skew(-15deg) translateZ(-40px)
    }
}

.page.layers .layers__layer_content.j_pic {
    background-image: url(images/layers/content.png)
}

.page.searchbar .searchbar-result {
    display: none;
    margin-top: 0;
    font-size: 14px
}

.page.searchbar .searchbar-result .weui-cell__bd {
    padding: 2px 0 2px 20px;
    color: #666
}

.page.actionsheet, .page.picker {
    overflow: hidden
}

.page.picker {
    background-color: #fff
}

.page.gallery {
    overflow: hidden
}

@-webkit-keyframes a {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        opacity: 0
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
}

@keyframes a {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        opacity: 0
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
}

@-webkit-keyframes b {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
    to {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        opacity: 0
    }
}

@keyframes b {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
    to {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        opacity: 0
    }
}

.page.slideIn {
    -webkit-animation: a .2s forwards;
    animation: a .2s forwards
}

.page.slideOut {
    -webkit-animation: b .2s forwards;
    animation: b .2s forwards
}


/*add by guoyin*/
.weui-cell-higher {
    padding-top: 15px;
    padding-bottom: 15px;
}
.weui-cell-higher .weui-cell__bd p {
    margin-top: 5px;
}
.weui-dialog-panel-progress {

}
.weui-dialog{
    top: 40%;
}
.weui-dialog-panel-progress .weui-dialog__bd{
    padding: 0;
}
.weui-dialog-panel-progress .weui-loadmore{
    font-size: 17px;
}
.weui-dialog-panel-progress .weui-loading{
    width: 50px;
    height: 50px;
}
.buttons_panel{
    /*margin-top: 20px;*/
    padding: 10px;
}

/* 'î €' */
.weui-icon-warn-no-circle:before {
    content: "\EA0B";
    color: #F43530 !important;
    font-size: 55px !important;
    display: inline-block;
}

.weui-footer_fixed-bottom .buttons_panel {
    margin-bottom: 10px;
}
.weui-footer_fixed-bottom .buttons_panel a {
    color: #fff;
}

.weui-btn_half {
    display: inline-block;
    width: 40%;
    margin-left: 10px;
    margin-right: 10px;
}
.weui-btn_half .iconfont{
    font-size: 19px;
    line-height: 18px;
}
.weui-btn_half .icon-wifi{
    padding-right: 4px;
}
.weui-btn_blue {
    background-color: #0393DC;
}
.weui-uploader__file {
    width: 75px;
    height: 75px;
}
.weui-uploader__file .icon{
    width: 75px;
    height: 75px;
    background-size: cover;
}
.weui-uploader__input-box {
    width: 74px;
    height: 74px;
}

.guide_scan_qrcode {
    font-size: 180px;
    line-height: 180px;
    display: block;
    padding-left: 50%;
    margin-left: -90px;
    margin-top: 20px;
    margin-bottom: 40px;
    color: #333;
}
.guide_step {
    padding: 20px 15px;
}
ul.guide_step{
    line-height: 20px;
    font-size: 18px;
}
ul.guide_step li>div{
    overflow: hidden;
    clear: both;
}
ul.guide_step label{
    width: 16px;
    height: 16px;
    color: #1aad19;
    border: #1aad19 solid 1px;
    border-radius: 50%;
    font-size: 12px;
    line-height: 16px;
    display: block;
    margin-right: 10px;
    text-align: center;
    float: left;
    padding: 0;
}
ul.guide_step span{
    font-size: 16px;
    line-height: 18px;
}
ul.guide_step space{
    width: 2px;
    height: 50px;
    border-left: #1aad19 dashed 1px;
    display: block;
    margin-left: 9px;
}
.weui-warn-msg-panel {
    color: #f43530;
    padding: 5px;
}
.weui-uploader__input-box.minus:before{
    width: 0;
    height: 0;
}

.weui-media-box{
    padding-top: 12px;
    padding-bottom: 12px;
}
.weui-footer{
    background: #F8F8F8;
}
.weui-footer_fixed-bottom{
    bottom: 0;
}
.eo-single-line-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.eo-user-icon-name {
    text-align: center;
    margin-top: 3px;
    font-size: 13px;
    color: #999;
}
.eo_gray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}
.eo-input-row {
}
.eo-input-row .weui-cell__bd{
    flex: inherit;
}
.eo-input-row .weui-cell__ft{
    flex: 1;
    padding-left: 20px;
    padding-right: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.eo-qrcode-share {
    color: #999;
    margin: 5px;
    font-size: 12px;
    text-align: right;
}
.eo-qrcode-name {
    color: #fff;
    margin: 10px;
    font-size: 16px;
    text-align: center;
}
.eo-qrcode {
    width: 260px;
    height: 260px;
    display: block;
    margin: 10px auto;
}
.eo-qrcode-tips {
    text-align: center;
    color: #eee;
    margin-top: 10px;
}
.eo-qrcode-expirein {
    text-align: center;
    color: #ccc;
    margin-top: 5px;
    font-size: 14px;
}
.eo-icon-box {
    margin-bottom: 25px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.eo-icon-box i {
    margin-right: 18px;
}
.eo-icon-box .icon-box__title {
     font-weight: 400;
}
.eo-icon-box .icon-box__desc {
    margin-top: 6px;
    font-size: 12px;
    color: #888;
}
.eo-weui-loadmore {
    font-size:16px;
}
.eo-weui-loadmore .weui-loading{
    width: 22px;
    height: 22px;
}
.eo-list-item-icon-text{
}
.eo-list-item-icon-text .weui-media-box__hd, .eo-list-item-icon-text .weui-media-box__hd img{
    width: 45px;
    height: 45px;
}
.eo-cells_checkbox {
    margin-left: 10px;
}
.eo-font-black {
    color: #0D0D0D;
}
.eo-small-green-text {
    font-size: 12px;
    color: #1aad19;
}
.eo-small-red-text {
    font-size: 12px;
    color: #E64340;
}

.eo-feedback-title{
    margin: 20px 0 20px;
}
.eo-feedback-box{
    margin-bottom: 120px;
}
.tenant_title_Info{
    padding: 25px;
}
.tenant_title_Info,.tenant__name{
    font-size: 16px;
    text-align: center;
}
.tenant__url{
    font-size: 14px;
}
.company_profile_text{
    color: #999;
    font-size: 13px;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.address_img{
    float: right;
    padding-left: 10px;
    padding-right: 10px;
}
.hide{display: none}
[v-cloak] {
    display: none;
}